
<div class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <% if (!user.isLoggedIn) { %>
                <a type="button" class="btn btn-outline-dark" href="/login">Login</a>
            <% } else { %>
                
            <% } %>
            <a class="navbar-brand" href="/home">D&D 5e Character Manager</a>
        </div>
    </nav>
    <% if (locals.error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-excalamation"></i>
        <strong>Error Type!</strong> Error reason here.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
</div>