<html>
    <head>
        <%- include('../partials/meta-content', { title: 'Error!' }) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <h1>Oops! Something went wrong!</h1>
        <h2><%= code %></h2>
        <p>Sorry for the inconvenience! It appears something has gone wrong. Please try again later!</p>
        
        <%- include('../partials/footer') %>
    </body>
</html>