<html>
    <head>
        <%- include('../partials/meta-content', { title: 'D&D 5th Edition' }) %>

    </head>
    <body>
        <%- include('../partials/header') %>
        
        
        <%- include('../partials/footer') %>
    </body>
</html>