<html>
    <head>
        <%- include('../partials/head', { title: 'D&D 5th Edition' }) %>

    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-grand mb-0 h1 ms-auto">D&D 5e Character Manager</span>
        </nav>
        
        <%- include('../partials/footer') %>
    </body>
</html>