<html>
    <head>
        <%- include('../partials/head', { title: 'D&D 5th Edition' }) %>

    </head>
    <body>
        <%- include('../partials/navbar') %>
        <div class="container">
            <div class="card mx-auto" style="max-width: 40%">
                <div class="card-body d-flex justify-content-center">
                    <h4 class="card-title">Sign In</h4>
                    
                </div>
            </div>
        </div>
        
        <%- include('../partials/footer') %>
    </body>
</html>